.overlay {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background: url(./../img/bg.jpg);
    background-size: 100%;
    background-position: center;
    background-blend-mode: darken;
    z-index: -100;
}

.app {
    padding-bottom: 1em;
}

.black-bg {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2em;
}

.text-light {
    color: white;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}