.overlay {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background: url(./../img/bg.jpg);
    background-size: 100%;
    background-position: center;
    background-blend-mode: darken;
    z-index: -100;
}